

body {
  background-image: url(/Users/lo/Downloads/MEMPHIS1xs.png);
  font-family: "futura-bold";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;

}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-bold";
  font-weight: 150;
  color: #333;
}

/* Paragraph & Typographic */

p {
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 40px;
}

/* Links */

a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: f5f5f5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #74cfae;
}

.navbar-brand {
  font-size: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-theme {
  color: #ffffff;
  background-color: #74cfae;
  border-color: transparent;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.lead {
  letter-spacing: 1px;
}
#photoId {
  width: 10%;
  height: 10%;
  
}

/* WRAP SECTIONS */

/* hello */

#hello {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
  
}

#hello h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #f5c062;
}

#hello h2 {
  color: #000000;
  font-weight: 400;
}

/* Green */

#green {
  background-color: #74cfae;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

#green h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

#green p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

/* Skills */

#skills {
  background-color: #8f7cb5;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

#skills h3 {
  color: white;
}

#skills p {
  color: white;
  font-weight: 400;
}


/* Social Links */

#social {
  padding: 40px 0;
}

#social i {
  font-size: 50px;
  color: #f5c062;
}



#social .col-md-3 {
  padding: 30px;
}

.fa fa-linkedin, fa fa-envelope, fa fa-file:hover{
	transform: scale(1.2);
  transition: 0.3s;
}


/* Footer */

#f {
  padding-top: 20px;
  background-color: #74cfae;
}

#f p {
  color: white;
  text-align: right;
  font-weight: 400;
}

/* Image Opacity */

.grid img {
  opacity: .7;
}

.grid img:hover {
  opacity: 1;
}




@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



